body {
	font-family: "Arial", "Helvetica", "sans-serif";
	display: flex;
	flex-direction: column;
	align-items: center;
	background: linear-gradient(90deg, rgb(182, 135, 124) 25%, rgb(194, 224, 144) 75%, rgb(140, 219, 215) 100%);
	color: rgb(red, green, blue);
	letter-spacing: 2px;
}
h2 {
	font-size: 20px;
	border: none;
	margin: 1rem;
}

#moves-count {
	border: 0;
	font-size: 1rem;
	font-weight: bold;
	margin: .5rem 0;
}

#score {
	border: 0;
	font-size: 1rem;
	font-weight: bold;
	margin: .5rem 0;
}

button {
	font-family: Arial, Helvetica, sans-serif;
	border-radius: 5px;
	border: none;
	padding: .5rem .5rem;
	font-size: 1rem;
	letter-spacing: 1px;
	cursor: pointer;
}
ul {
	display: grid;
	grid-template-columns: repeat(4, 100px);
	grid-template-rows: repeat(4, 100px);
	gap: 10px;
	padding: 0;
}

li {
	list-style: none;
	border: .5px solid rgb(2, 0, 36);
	border-radius: 10px;
	cursor: pointer;
}
